@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-dots li.slick-active button::before {
  color: #ffaf02 !important;
  font-size: 10px;
}

.slick-dots li {
  margin: 0 1px !important;
}

:root {
  --vh: 100%;
}

/* .full-height {
  height: calc(var(--vh, 1vh) * 100);
} */

body.no-scroll {
  overflow: hidden;
}